@import './color.scss';

.section {
  margin-top: 40vh;
  margin-bottom: 40vh;
}

.section-large {
  margin-bottom: 50vh;
}

#change {
  margin-top: 300px;
}

.change-title {
  background-image: $mint;
  background-image: radial-gradient(0deg, white 20%, $mint 80%);
  .ctitle {
    width: 100%;
    margin: auto auto;
    font-size: 5vw;
    position: relative;
    padding-top: 10vw;
    padding-bottom: 8vw;

    img {
      position: absolute;
      top: 100%;
      width: 10vw;
    }
  }
}

#change2 {
  width: 90%;
  margin: auto auto;

  .sub-title {
    font-size: 1em;
  }
}

.tips {
  width: 90vw;
  margin: auto auto;
}

.count {
  margin-top: 10vh;
  .explain {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    width: 80%;
    margin: auto auto;
  }
  .title {
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 0.5vw;
  }
  .img-container {
    position: relative;
    .img {
      width: 40vw;
      height: 39vw;
      overflow: hidden;
      margin: auto auto;
      position: relative;
      background-image: radial-gradient(white 10%, #edf7fa 90%);
      img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }
      .back {
        background-color: #c2d6f1;
        height: 40vw;
        width: 100%;
        transform: translate(0, 40vw);
      }

      .text {
        position: absolute;
        opacity: 0;
        width: 100%;
        top: 50%;
        left: 50%;
        z-index: 3;
        transform: translate(-50%, -50%);
        font-size: 4vw;
        span {
          font-size: 3vw;
        }
      }
    }

    .img-pre {
      opacity: 0;
      width: 20vw;
      height: 20vw;
      position: absolute;
      left: 60vw;
      top: 100%;
      transform: translate(0, -100%);
      img {
        width: 100%;
        background-color: #c2d6f1;
      }

      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2vw;
        width: 100%;
        opacity: 0;
        span {
          font-size: 1.5vw;
        }
      }
    }
  }
}

.bottles-animate {
  animation: fill 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: fill 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}

.current-animate {
  animation: current 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: current 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
}

.pre-animate {
  animation: prev 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: prev 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
}

@-webkit-keyframes current {
  from {
    transform: translate(0vw, 0px);
  }
  to {
    transform: translate(-15vw, 0px);
  }
}
@keyframes current {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-15vw, 0px);
  }
}

@-webkit-keyframes prev {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes prev {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fill {
  from {
    transform: translate(0, 40vw);
  }
  to {
    transform: translate(0, 0vw);
  }
}
@keyframes fill {
  from {
    transform: translate(0, 40vw);
  }
  to {
    transform: translate(0, 0vw);
  }
}

#common-usage {
  margin-bottom: 10vh;
  .title {
    margin-bottom: 0px;
  }
  width: 90%;
  margin: auto auto;
  margin-top: 100px;
  padding: 100px 0;
  display: block;
  .way {
    font-size: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    img {
      width: 5em;
      height: 5em;
    }
  }
}

#hidden-usage {
  width: 90%;
  margin: auto auto;
  padding: 80px 0;
  padding-bottom: 120px;
  background-color: $light-blue;
  display: block;
  .title {
    margin-top: 1em;
    color: grey;
    h2 {
      color: grey;
    }
  }

  .event {
    width: 25%;
    display: inline-block;
    .event-description {
      border: 2px transparent solid;
      padding: 10px 0;
      &:hover {
        background-color: #edf7fa; /* For browsers that do not support gradients */
        background-image: radial-gradient(
          white 10%,
          #edf7fa 90%
        ); /* Standard syntax (must be last) */
        border-radius: 20%;
      }
    }
    img {
      width: 30%;
      height: 30%;
      margin: 0 auto;
    }

    .animate-water {
      width: 45%;
      margin-left: 30%;
      margin-top: 30px;
    }
    .text {
      font-size: 40px;
    }
  }
}

.cup1 {
  fill: #edf3ff;
}
.cup1,
.cup2 {
  stroke: #919191;
  stroke-miterlimit: 10;
  stroke-width: 5;
}
.cup2 {
  fill: none;
  stroke-width: 5;
}

#cup .content {
  fill: lightblue;
  /* transform: translate(0, -100%); */
}

#bottle .cup-animate {
  animation: bottle 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: bottle 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}

#power .cup-animate {
  animation: power 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: power 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}

#paper .cup-animate {
  animation: paper 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: paper 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}

#burger .cup-animate {
  animation: burger 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: burger 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}

.text-animate {
  animation: text 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: text 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes bottle {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 250px);
  }
}
@keyframes bottle {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 250px);
  }
}

@-webkit-keyframes power {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 30px);
  }
}
@keyframes power {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 30px);
  }
}

@-webkit-keyframes paper {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 80px);
  }
}
@keyframes paper {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 80px);
  }
}

@-webkit-keyframes burger {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 30px);
  }
}
@keyframes burger {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 30px);
  }
}

@-webkit-keyframes text {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#small {
  width: 70%;
  margin: auto auto;
  font-size: 1em;
  .cls-1 {
    fill: #9dd5e8;
  }
  .cls-2 {
    fill: #d6e5e3;
  }

  .cls-3 {
    stroke: #9dc8cf;
    stroke-miterlimit: 10;
    stroke-width: 3px;
    fill: transparent;
  }

  .cls-4 {
    fill: transparent;
  }

  .active-step {
    stroke: #7087ce;
    stroke-miterlimit: 10;
    stroke-width: 3px;
  }

  .wrong::before {
    content: ' ';
    background-image: url('../imgs/usage2/wrong.png');
    background-size: 1em 1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
  }

  .right::before {
    content: ' ';
    background-image: url('../imgs/usage2/right.png');
    background-size: 1em 1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
  }
}

#small .wrong,
#small .right {
  font-size: 1em;
  text-align: left;
  color: #4d4d4d;
}
