@import '../style/color.scss';

.product {
  .section {
    margin-top: 40vh;
    margin-bottom: 40vh;
  }
  .save {
    .control {
      background-color: transparent !important;
      &:hover {
        background-color: $lighter-blue !important;
      }
    }
    #product-carousel {
      .card {
        padding-top: 30px;
        padding-bottom: 30px;
        .text {
          .text-title {
            font-size: 2.5em;
            text-align: left;
            margin-left: 10%;
            margin-bottom: 40px;
          }
          margin-top: 1em;
          img {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-140%, -20%);
            width: 10%;
          }
          .des {
            position: relative;
            width: 70%;
            margin-left: 10%;
            text-align: left;
            font-size: 1em;
            display: inline-block;
            margin-bottom: 3em;
          }
        }
      }
    }
  }
  .buy {
    background-color: $lighter-blue;
    padding: 100px 0px;

    .number {
      font-size: 5vw;
      margin: auto auto;
      margin-top: 30px;
      color: lightgrey;
    }
    .title {
      font-size: 2.2vw;
    }
    .subtitle {
      font-size: 1.5vw;
      color: grey;
    }

    .form {
      display: flex;
      flex-direction: row;
      padding: 0 9vw;
      background-color: $mint;

      .form-section {
        display: inline-block;
        margin: 100px 0px 50px 0px;

        label {
          .label {
            font-size: 1.5vw;
            margin-bottom: 10px;
          }
          input[type='number'] {
            border: 1px solid lightgrey;
            display: block;
            width: 50%;
            margin: auto auto;
            line-height: 200%;
            text-align: center;
            font-size: 1vw;
          }
        }

        img {
          width: 10vw;
          margin: auto auto;
        }
      }
    }
  }
  .use {
    .title {
      text-align: left;
      font-size: 1.5vw;
      width: 80%;
      margin: auto auto;
      margin-bottom: 3em;
    }
    .rowa {
      display: flex;
      flex-direction: row;
    }
    .img-container {
      margin-left: 5vw;
      width: 50vw;
      opacity: 0.8;
    }

    .des-container {
      width: 45vw;
      .card {
        width: 80%;
        text-align: left;
        background-color: $light-blue;
        height: 7vw;
        border: 2px solid transparent;
        position: relative;
        .card-body {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          font-size: 1.2vw;
          color: grey;
        }
        img {
          width: 10%;
          margin-right: 1vw;
        }
      }
      .card + .card {
        margin-top: 2vw;
      }
    }
    .hotspot {
      fill: #f8e6a0;
      opacity: 0.4;
      cursor: pointer;
      stroke: transparent;
      &:hover {
        opacity: 0.8;
        stroke: #fac456;
      }
    }
  }
}
