@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900");

.list {
  list-style-type: none;
  display: flex;
  margin: 2rem 0 0 0;
  padding: 0;
}

.listItem {
  width: 33%;
  height: 9rem;
  display: block;
  cursor: pointer;
}

.listItem > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.listItem + .listItem {
  margin-left: 1.5rem;
}

.item + .item {
  margin-left: 1.5rem;
}

.focusedItem {
  width: 76%;
  height: 18em;
  cursor: pointer;
  margin: 2rem 0 0 0;
  padding: 0;
  display: inline-block;
}

.shrink {
  width: 10%;
  height: 18em;
  margin: 2rem 0 0 0;
  padding: 0;
  display: inline-block;
}

.focusedItem > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.shrink > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
