.fact {
  color: grey;
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
  font-family: 'PT Serif', serif;
}

.main-intro {
  margin: 0 auto;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  opacity: 50%;
  z-index: -1;
  font-size: 1vw;
  padding-top: 120px;
  padding-bottom: 50px;
  margin-bottom: 30vh;
  margin-top: 50vh;
}

#water-intro {
  margin-top: 0vh;
  margin-bottom: 80px;
}

.main-intro h1 {
  width: 50%;
  margin-left: 50%;
}

#water-intro .title {
  width: 60%;
  margin-left: 40%;
  font-size: 4vw;
}

#water-carousel {
  height: 300px;
  margin-right: 5%;
  background-position: center top;
  background-repeat: repeat;
  background-size: contain;
  background-color: white;
  margin-bottom: 100px;
}

#usage {
  display: block;
  width: 90%;
  margin: auto auto;
  margin-bottom: 100px;
}

#change {
  display: block;
  width: 90%;
  margin: auto auto;
  margin-bottom: 350px;
}

#usage h2 {
  margin-bottom: 2.5em;
  color: grey;
}

#usage .usage-part img {
  width: 50%;
  margin-bottom: 10px;
}

#usage .percent {
  color: grey;
  font-size: 4em;
  font-family: 'PT Serif', serif;
}

#usage .arrow {
  width: 15%;
  margin: auto auto;
}

#usage .sub-img {
  width: 90%;
  padding: 10px 0px;
  margin: auto auto;
  border-radius: 10px;
  background-color: #effbfc;
}
#usage .sub-img img {
  width: 20%;
}

#usage .sub-img img + img {
  margin-left: 50px;
}

.intro-para {
  width: 55%;
  margin-left: 45%;
}

#water-carousel img {
  max-height: 300px;
}

#usage .usage-part {
  width: 30%;
  display: inline-block;
}

#common-usage h2 {
  margin-bottom: 60px;
  color: black;
  font-size: 2.5em;
}

#common-usage .way {
  color: #595959;
}

#change .title {
  margin-bottom: 50px;
}
#change .title .badge {
  font-size: 2.5em;
  background-color: #ecf6f5;
  color: black;
}

#change .cls-1 {
  fill: #9dd5e8;
}
#change .cls-2 {
  fill: #d6e5e3;
}
#change .cls-3 {
  stroke: #9dc8cf;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  fill: transparent;
}
#change .cls-4 {
  fill: transparent;
}

#change .active-step {
  stroke: #7087ce;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

#change .wrong,
#change .right {
  font-size: 1em;
  text-align: left;
  color: #4d4d4d;
}

#change .wrong::before {
  content: ' ';
  background-image: url('../imgs/usage2/wrong.png');
  background-size: 1em 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

#change .right::before {
  content: ' ';
  background-image: url('../imgs/usage2/right.png');
  background-size: 1em 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #3f5577;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
