.fact {
  color: grey;
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
  font-family: 'PT Serif', serif;
}

#water-intro {
  margin: 0 auto;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  opacity: 50%;
  z-index: -2;
  padding-top: 120px;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

#water-carousel {
  height: 300px;
  background-position: center top;
  background-repeat: repeat;
  background-size: contain;
  background-color: white;
  margin-bottom: 100px;
}

#usage {
  display: block;
  width: 90%;
  margin: auto auto;
  margin-bottom: 100px;
}

#common-usage {
  width: 90%;
  margin: auto auto;
  margin-bottom: 100px;
  padding: 100px 0;
  display: block;
}

#hidden-usage {
  width: 90%;
  margin: auto auto;
  margin-bottom: 350px;
  padding: 80px 0;
  background-color: #edf3ff;
  display: block;
}

#change {
  display: block;
  width: 90%;
  margin: auto auto;
  margin-bottom: 350px;
}

#change2 {
  width: 90%;
  margin: auto auto;
}

#usage h2 {
  margin-bottom: 2.5em;
  color: grey;
}

#usage .usage-part img {
  width: 50%;
  margin-bottom: 10px;
}

#usage .percent {
  color: grey;
  font-size: 4em;
  font-family: 'PT Serif', serif;
}

#usage .arrow {
  width: 15%;
  margin: auto auto;
}

#usage .sub-img {
  width: 90%;
  padding: 10px 0px;
  margin: auto auto;
  border-radius: 10px;
  background-color: #effbfc;
}
#usage .sub-img img {
  width: 20%;
}

#usage .sub-img img + img {
  margin-left: 50px;
}

#water-intro > div {
  width: 50%;
  margin-left: 50%;
}

.intro-para {
  width: 55%;
  margin-left: 45%;
}

#water-carousel img {
  max-height: 300px;
}

#usage .usage-part {
  width: 30%;
  display: inline-block;
}

#common-usage h2 {
  margin-bottom: 60px;
  color: black;
  font-size: 2.5em;
}

#common-usage .way {
  color: #595959;
}

#hidden-usage .title {
  margin-bottom: 90px;
}

#hidden-usage .title h2 {
  color: grey;
}

#hidden-usage .title h6 {
  margin-top: 1em;
  color: grey;
}

.event img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

#hidden-usage .event {
  width: 25%;
  display: inline-block;
}

.event .event-description {
  border: 2px transparent solid;
  padding: 10px 0;
}

.event .event-description:hover {
  background-color: #edf7fa; /* For browsers that do not support gradients */
  background-image: radial-gradient(
    white 10%,
    #edf7fa 90%
  ); /* Standard syntax (must be last) */
  border-radius: 50%;
}

.event .animate-water {
  width: 45%;
  margin-left: 30%;
  margin-top: 30px;
}

.event .text {
  font-size: 40px;
}

.cup1 {
  fill: #edf3ff;
}
.cup1,
.cup2 {
  stroke: #919191;
  stroke-miterlimit: 10;
  stroke-width: 5;
}
.cup2 {
  fill: none;
  stroke-width: 5;
}

#cup .content {
  fill: lightblue;
  /* transform: translate(0, -100%); */
}

#bottle .cup-animate {
  animation: bottle 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: bottle 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}

#power .cup-animate {
  animation: power 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: power 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}

#paper .cup-animate {
  animation: paper 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: paper 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}

#burger .cup-animate {
  animation: burger 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: burger 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}

.text-animate {
  animation: text 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation: text 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes bottle {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 250px);
  }
}
@keyframes bottle {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 250px);
  }
}

@-webkit-keyframes power {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 1900px);
  }
}
@keyframes power {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 190px);
  }
}

@-webkit-keyframes paper {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 250px);
  }
}
@keyframes paper {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 250px);
  }
}

@-webkit-keyframes burger {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 30px);
  }
}
@keyframes burger {
  from {
    transform: translate(0, 299.07px);
  }
  to {
    transform: translate(0, 30px);
  }
}

@-webkit-keyframes text {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#change .title {
  margin-bottom: 50px;
}
#change .title .badge {
  font-size: 2.5em;
  background-color: #ecf6f5;
  color: black;
}

#change .cls-1 {
  fill: #9dd5e8;
}
#change .cls-2 {
  fill: #d6e5e3;
}
#change .cls-3 {
  stroke: #9dc8cf;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  fill: transparent;
}
#change .cls-4 {
  fill: transparent;
}

#change .active-step {
  stroke: #7087ce;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

#change .wrong,
#change .right {
  font-size: 1em;
  text-align: left;
  color: #4d4d4d;
}

#change .wrong::before {
  content: ' ';
  background-image: url('../imgs/usage2/wrong.png');
  background-size: 1em 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

#change .right::before {
  content: ' ';
  background-image: url('../imgs/usage2/right.png');
  background-size: 1em 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #3f5577;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* .gallery-container {
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
} */
