.App {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  font-family: Silom;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-area {
  width: 90%;
  margin-left: 10%;
  margin-top: 200px;
  z-index: 2;
}

.intro {
  margin-bottom: 400px;
  width: 60%;
  margin-left: 40%;
}

.intro h1 {
  z-index: 3;
  font-family: Silom;
  font-size: 5em;
}

.section {
  /* margin-top: 100px; */
  margin-bottom: 100px;
}

/* #water-intro {
  width: 100%;
  margin: 0 auto;
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  opacity: 50%;
  z-index: -2;
} */
